name: Publish to PyPI

on:
  push:
    tags:
      - "v*"

permissions:
  contents: read
  id-token: write

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    environment:
      name: pypi
      # url: https://pypi.org/p/moltbook-cli

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install UV
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: false

      - name: Install project
        run: uv sync --all-groups

      - name: Build distributions
        run: uv build

      - name: Publish package
        run: uv publish
